
<section id="contact-div">


  <form class="contact-form" action="https://getform.io/f/d63b9914-ae60-442a-af47-09a12b2d24c6" method="POST" id="form-contact">

<div class="" style="display: flex; justify-content: flex-end;">
  <img src="/assets/img/close1.svg" alt="close" style="width: 15%; cursor: pointer;" id="close-form">
  </div>


      <input type="hidden" id="captchaResponse" name="g-recaptcha-response">

      <label for="first_name">First name</label>
      <input type="text" name="first_name" required>

      <label for="last_name">Last name (optional)</label>
        <input type="text" name="last_name">

      <label for="email">Email</label>
      <input type="email" name="email" required>

      <label for="tel">Phone (optional)</label>
      <input type="phone" name="phone" id="phone">

      <label for="message">Message (optional)</label>
      <input type="text" name="message" id="message">

      <button type="submit">Send</button>

  </form>

  </section>
