<header>
   <nav>
     <h1 style="text-transform: none;">ZevPrep</h1>
       <div class="nav-links">
         <a href="/about">About</a>
         <a href="/subjects">Subjects</a>
         <a href="/testimonials">Testimonials</a>
         <a href="/pricing">Pricing</a>
         <div class="inline-flex">
           <div class="" style="padding-bottom: 12px; text-align: center;">(646) 474-0878</div>
           <div class="contact-box"><a href="/contact">Contact</a></div>
         </div>
     </div>
   </nav>
 </header>
