<header>
   <nav class="wide">
     <a href="/">
      <h3 style="margin: 0;">ZEV PREP</h3>
      <p class="phone" style="text-align: center; font-size: 16px; margin: -16px 0 0 0;">917-342-5724</p>
     </a>
       <div class="nav-links">
         <div class="dropdown">
          <a class="underline">Services <ion-icon name="chevron-down-sharp" style='color: black; vertical-align: middle;'></ion-icon></a>
         <div class="dropdown-content">
           <a href="/test-prep/">Test Prep</a>
           <a href="/humanities/">Humanities Tutoring</a>
           <a href="/mentorship/">Mentorship</a>
         </div>
        </div>
         <a href="/testimonials" class="underline">Testimonials</a>
         <a href="/pricing" class="underline">How I Work</a>
         <a href="/about" class="underline">About</a>
          <div class="contact-box">Message</div>
     </div>
   </nav>

   <nav class="mobile">
     <div>
      <div class="phone" style="text-align: center; font-size: 24px;">(646) 474-0878</div>
     </div>
    <a href="/">
      <h3>ZEV PREP</h3>
    </a>
    <div class="inline-flex">
      <div class="contact-box">Message</div>
    </div>
  </nav>



 </header>
