<header>
   <nav class="wide">
     <a href="/">
      <img src="/assets/img/zplogo3.svg" alt="ZevPrep-logo">
     </a>
       <div class="nav-links">
         <a href="/services" class="underline">Services <ion-icon name="chevron-down-sharp" style='color: black; vertical-align: middle;'></ion-icon></a>
         <a href="/testimonials" class="underline">Testimonials</a>
         <a href="/pricing" class="underline">Pricing</a>
         <a href="/about" class="underline">About</a>
         <div class="inline-flex">
           <div class="phone" style="padding-bottom: 12px; text-align: center;">(646) 474-0878</div>
           <div class="contact-box">Contact</div>
         </div>
     </div>
   </nav>

   <nav class="mobile">
    <a href="/">
      <img src="/assets/img/zplogo3.svg" alt="ZevPrep-logo">
    </a>
    <div class="inline-flex">
      <div class="phone" style="padding-bottom: 12px; text-align: center;">(646) 474-0878</div>
      <div class="contact-box">Contact</div>
    </div>
  </nav>



 </header>
