<nav id="hamburger-nav">
  <img src="/assets/img/Vectorham.svg" alt="close" caption="Close by Fahmihorizon from the Noun Project" id="ham-close">
  <div class="ham-flex">
    <div class="ham-nav-div">
      <a href="/about" class="underline">About</a>
      <a href="/subjects" class="underline">Services</a>
      <a href="/testimonials" class="underline">Testimonials</a>
      <a href="/pricing" class="underline">Pricing</a>
      <div class="contact-hamburger">
        <span>Message</span>
      </div>
    </div>
  </div>
</nav>
