section.about {

  img {
    width: 360px;
    margin: 0;
  }

  margin-bottom: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 48px;
  justify-content: center;
  margin-top: 120px;
  align-items:flex-start;
  height: 600px;
}


div.about-paragraph {
  font-family: "amiri";
  font-size: 21px;
  width: 500px;
}
