


header {

  font-family: "amiri";
  align-items: center;
  background-color: white;
  padding: 24px;

  div.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav > nav-links {
    margin-left: auto;
  }


  h1 {
    font-size: 56px;
  }

  nav {
    margin-left: 128px;
    margin-right: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    div.nav-links {
      a.underline{
        transition: all .2s ease-in-out;

        &:hover {
          // font-size: 20px;
         color: gray;
        }
      }
      // font-size: 21px;
    }
  }

  a {
    margin-right: 72px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
  }


  span {
    margin-right: 56px;
    font-size: 21px;
  }

  div.inline-flex {
    display: inline-block;
  }

  button.contact-box {
    border: 1px solid black;
    font-family: "amiri";
    color: white;
    background-color: black;
    margin-right: 0;
    padding: 12px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;

    a {
      margin-right: 0;
      color: white;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 18px;
    }


  }

  .phone {
    font-family: "Amiri";
  }
}
