


header {
  font-family: "Almarai";
  align-items: center;


  h1 {
    font-size: 56px;
  }

  nav {
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.nav-links {
      // font-size: 21px;
    }
  }

  a {
    margin-right: 56px;
    text-transform: uppercase;
  }

  span {
    margin-right: 56px;
    text-transform: uppercase;
  }

  div.inline-flex {
    display: inline-block;
  }

  div.contact-box {
    border: 1px solid black;
    background-color: black;
    margin-right: 0;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;

    a {
      margin-right: 0;
      color: white;
    }

    &:hover {
      // opacity: 0.6;
    }
  }
}
