



section.index-hero {
    height: 600px;
    width: 100vw;
    background-image: url('/assets/img/nyc-bridge.jpg');
    background-size: cover;
    background-position: left;
    font-family: "Amiri";

    div.hero-flex {
      display: flex;
      justify-content: flex-end;

      h1 {
        margin-left: 16px;
        padding-left: 16px;
        margin-right: 18px;
        margin-top: 128px;
        width: 600px;
        line-height: 1;
        // font-weight: 400;
      }

      p {
        padding-left: 16px;
        margin-left: 24px;
        width: 500px;
        font-size: 24px;
        line-height: 1.2;
      }
    }
}

section.index-post-hero {
  height: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010500;
  color: white;
  font-family: "Amiri";

  div {
    width: 700px;
    line-height: 1.4;

    h2 {
        padding: 400px 0;
        font-weight: 400;
    }
    p {
      font-size: 21px;
      padding: 400px 0;
      line-height: 1.6em;
    }
  }
}

section.index-quote {
  width: 100vw;
  height: 400px;
  font-family: "Amiri";
  display: flex;
  justify-content: center;

  p {
    margin-top: 160px;
    width: 800px;
    text-align:center;
    font-size: 32px;
  }
}

section.index-about {
  padding: 48px 0;
  height: 1000px;
  width: 100vw;
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  font-family: "Amiri";
  color: white;
  background-color: black;

  div.zev-learn-more {
    border: 1px solid white;

    span {
      padding: 12px 16px;
      font-family: "Amiri";
      display: flex;
      justify-content: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }


  h2 {
    font-size: 56px;
  }

  img {
    display: block;
    width: 75%;
    margin-top: 32px;
    margin-bottom: 32px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  div {
    width: 500px;

    p {
      line-height: 1.6em;
      font-size: 21px;
    }
  }
}


section.index-subjects {

  font-family: "Amiri";
  height: 800px;
  width: 100vw;
  background-color: white;
  color: black;

div.sat-act-flex {
  display: flex;
  justify-content: center;
}

  h1 {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    font-family: "Amiri";
    margin-bottom: 80px;
  }

  h2 {
    margin: 16px 0 0 0;
    font-weight: 400;
    font-size: 32px;
    display: flex;
    justify-content: center;
  }


  div.sat-card {

    width: 400px;
    margin-right: 8rem;
    font-family: "Amiri";


    div.sat-img {
      height: 300px;
      width: 400px;
      background-image: url('/assets/img/standard-test.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    img {
      width: 45%;
    }

    p {
      width: 400px;
      margin-right: 0;
    }

    div.sat-button {
        margin-top: 24px;
        margin-right: 0;
        display: flex;
        justify-content: center;
        border: 2px solid black;
        max-width: 400px;
        transition: all .2s ease-in-out;

        &:hover {
          background-color: black;

          span {
              color: white;
          }
        }

      span {
        text-align: center;
        padding: 12px 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }

  div.act-card {

    width: 400px;

    div.act-img {
      width: 400px;
      height: 300px;
      background-image: url('/assets/img/mentor.jpg');
      background-size: contain;
    }

    p {
      width: 400px;
    }
  }

  div.act-button {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      border: 2px solid black;
      max-width: 400px;
      transition: all .2s ease-in-out;

      &:hover {
        background-color: black;

        span {
            color: white;
        }
      }

    span {
      text-align: center;
      padding: 12px 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }



  .container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }

  .container:hover .overlay {
    opacity: 0.6;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
  }



}

section.index-testimonials {
  margin-top: 240px;
  width: 100vw;
  background-color: black;
  color: white;
  font-family: "Amiri";
  align-items: flex-start;
  display: flex;
  justify-content: space-around;

  div.testimonial-one {
    margin-top: 120px;
  }

  div.testimonial-three {
    margin-bottom: 120px;
  }

  .body {
    width: 600px;
    font-size: 21px;
  }

  div.testimonial-btn {
    font-size: 16px;
    margin-top: 80px;
    max-width: 440px;
    border: 2px solid white;
    padding: 16px 32px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 160px;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  div.testimonial-header {
    padding-top: 120px;
    margin-bottom: 80px;
  }
}

.sat-act-flex {
  display: flex;
  justify-content: space-around;
}


section.index-pricing {
  height: 800px;
  width: 100vw;
  background-color: white;
  color: black;
  font-family: "Amiri";

  h1 {
    padding-top: 120px;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

section.index-contact {
  font-family: "Amiri";
  background-color: #292a2c;
  color: white;
  height: 1000px;
  width: 100vw;

  h1 {
    display: flex;
    justify-content: center;
    padding-top: 120px;
  }
}
