
@media screen and (min-width: 1280px) {
  #hamburger-icon{
    display: none;
  }
  #hamburger-nav {
    display: none;
  }

  nav.mobile {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    nav.wide {
      display: none;
    }

  #hamburger-nav {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
  }

}

@media screen and (max-width: 1280px) {
  
  nav.wide {
    display: none;
  }

  #hamburger-nav {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
