
@media screen and (min-width: 1280px) {
  #hamburger-icon{
    display: none;
  }
  #hamburger-nav {
    display: none;
  }

  nav.mobile {
    display: none;
  }

}

@media screen and (max-width: 1250px) {

  section.index-hero {

    background-size: 120%;
    // div.hero-flex {
    //   display: flex;
    //   // justify-content: flex-start;
    // }

    // h1 {
    //   color: white !important;
    //   text-shadow: 1px 1px 2px black;
    // }
    //
    // p {
    //         color: white !important;
    //         text-shadow: 1px 1px 2px black;
    // }
  }

  // div.nav-links {
  //   margin-right: 56px;
  // }


}

@media (min-width: 768px) and (max-width: 1250px) {
  section.index-hero{
    background-size: 160%;
    
  }

}

@media screen and (min-width: 320px) and (max-width: 768px) {
    nav.wide {
      display: none;
    }

    section.index-about {
      height: 888px;
    }

  #hamburger-nav {
    display: none;
  }

  section.index-hero {
    box-sizing: border-box;
    background-size:300%;
    height: 390px;

    div.hero-flex {
      h1 {
        font-size: 34px;
      }
      p {
        width: 330px;
        font-size: 18px;
      }
    }
  }

  section.index-post-hero {
    div h2 {
      font-size: 48px;
    }
    div p {
      font-size: 14px;
    }
  }

  section.index-subjects {
    width: auto;
  }

  div.sat-act-flex {
    flex-wrap: wrap;
  }

  section.index-about {
    height: auto;
    width: auto;

    div {
      width: 360px;
    }
  }


  nav.mobile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
    align-items: center;

    .phone {
      font-size: 12px;
    }
  }

}

@media screen and (min-width: 1500px) {

  nav.wide {
    a {
      font-size: 21px;
      margin-right: 124px;
    }
    div.inline-flex {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1459px) {

  nav.wide {
    a {
      font-size: 16px;
      margin-right: 80px;
    }
    div.inline-flex {
      font-size: 14px;
    }
  }
}


  #hamburger-nav {
    display: none;
  }

  nav.mobile {
    display: none;
  }


@media (min-width: 1401px) and (max-width: 1460px) {

    nav.wide {
      a{
      font-size: 18px;
      margin-right: 80px;
    }
    }

}

@media (min-width: 1261px) and (max-width: 1400px) {

  nav.wide {
    a{
    font-size: 16px;
    margin-right: 64px;
  }
  }

}

@media (min-width: 1186px) and (max-width: 1260px) {

  nav.wide {
    a{
    font-size: 14px;
    margin-right: 64px;
  }
  }

}


@media (max-width: 1185px) {

  nav.wide {
    display: none;
  }

  #hamburger-nav {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
    align-items: center;
  }


}
