
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Zev Fagin, SAT/ACT prep</title>
    <meta name="viewport" content="width=device-width, initial-scale=0, maximum-scale=1">
    <meta name="keywords" content="SAT, ACT, Tutor, Tutoring, NYC">
    <meta name="description" content="SAT & ACT Tutoring. In-person only. Not a company & not part-time. A decade of individualized test preparation. Boost scores now.">
    <script src="https://www.google.com/recaptcha/api.js?render=6LcC_Z8aAAAAANYSO8jnyx10bI3e1kPjP3zy6dw2"></script>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" sizes="196x196" href="/assets/img/ZPlogo2021.svg">
  </head>
  <body>
  {% include header.html %}
  <div id="page-container">
  <div id="content-wrap">


    <main>
      {{content}}
      {% include contact-form.html %}
      {% include nav-hamburger.html %}
    </main>

</div>
</div>



      <script>
       grecaptcha.ready(function() {
           grecaptcha.execute('6LcC_Z8aAAAAANYSO8jnyx10bI3e1kPjP3zy6dw2', {action: 'homepage'})
           .then(function(token) {
             document.getElementById('captchaResponse').value = token;
           });
         });
    </script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/javascript/main.js">
    </script>
  </body>
</html>
